body {
  overflow: hidden;
  margin:0px;
  font-family: 'Montserrat', sans-serif;
  padding: 0  0 30px 0;
  color:beige;
  background-image: url('reidanother-min.jpg');
  background-size: cover;
  background-position: 50% 10%;
  background-repeat:no-repeat;
  background-color:black;
}

a{ text-decoration: none; }

header{
  color:beige;
  display:none;
  width:95%;
  margin:auto;

}
.icon{
  float: left;

}

.bone {
    width: 77px;
    padding: 11px;
    padding-right: 25px;
}
.special img{
    float: right;
    width: 48%;
    position: relative;
    right: -48px;
    top: -100px;
transition:  2s;
}
@media(max-width:720px){
  .special{display:none !important;}
}

.special img:hover{
 transition:  2s;

  right:-20px;

}
.question, .call{display:none;}
.hey-kid{

  font-size:12px;
    position: absolute;
    top: -60px;
    right: 83px;
}
.special{
  display:none;
  position: absolute;
  right:0;
  }

nav ul{
  margin-bottom:0;
}

.contact {
  display:none;
    float: right;
    width: 30%;
    margin-top: 95px;
}


.skill ul {
    display: inline-block;
    width: 27%;
    vertical-align: top;
}

.skill ul span {
    margin-left:0;
}

.skill li{
  margin-left:45px;
}

.left{


  margin-left:10px;
  padding-left:20px;
  padding-right:20px;
  width:100%;
   /*display:inline-block;*/
  }
 @media (max-width:900px){.left{display:block;}}

.right{
  display:none;
  margin-right:10px;
  float: right;
  width:54%;
  padding:0 20px;
  /*display:inline-block;*/
}
@media (max-width:900px){.right{display:block;margin-right:0; padding:0;}}

.date{
    float: right;
    margin-right: 20px;
}
.title.under{
    font-weight: 900;
    font-style: italic;
    padding-right: 10px;
  }

.title{
  text-transform: uppercase;
}

.experience li {
    padding: 5px 0;
    font-size: 18px;
}

.upper{text-transform: uppercase;}

.reid_lsd{
    border-radius: 50%;
    float: left;
    width: 20%;
    padding: 20px;

}

.treehouse{
    width: 10%;

    padding-right: 20px;
}

.shopify{

  width:10%;
  padding-right: 20px;
}

.cleo-image img {
    border-radius: 90px;
    float: left;
    width: 10%;
    padding: 20px;
}

.image {
    padding: 33px 30px 0;
    text-align: center;
}
.block a , .border a{
    display:inline-block;
    text-decoration: none;
    color: beige;
    word-wrap: break-word;
}

.border div{padding:1px;clear:both;}

.under{
  border-bottom:1px solid #ddd;
}

header h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}

.corner{
  cursor: pointer;
}
.contact i {
  width:10%;
  text-align: center;

}


i.fa.fa-external-link {
  display:none;
  padding-left: 5px;
  width: 20px;

}

footer {

    clear: both;
    margin-left: 40px;
}


a:hover i.fa.fa-external-link{
  display:inline-block;
}

h3 {
    color: #bfcafd;
    font-size: 30px;
    text-transform: uppercase;
}
.job-title{color: #bfcafd;}

.volunteer{
  display:none;
}
.border{

  border-radius:10px;
  padding:10px;
  margin-top:10px;


}

.border span{

  font-size:20px;
}
.icons{
  display:inline-block;
}


#blockblitz{
  cursor: pointer;
}


.back p{
  font-size:20px;
  line-height: 28px;
  margin:25px;
}

.volunteer  div p:last-child {

    border-bottom: 1px dotted beige;

    padding-bottom: 20px;
}

.next{
  float:right;
  cursor: pointer;
}

.summary, .education-content, .volunteer, .experience , .skills , .projects, .cleo-image{
  display:none;
  position: absolute;
}



.experience  a{
  margin-left:25px;
}

.experience .one {
  border-bottom:1px solid beige;
  border-radius: 0;
  padding-bottom:30px;

}

.back {
  border-radius:20px;
  width:65%;
  background:rgba(0,0,0,.8);
  margin-bottom: 50px;
}

nav{
  display:none;

}

nav li {
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
    padding:10px 30px;
    cursor: pointer;
    list-style: none;
}

nav li:hover{color:#bfcafd ;}

.dark{
  background:rgba(0,0,0,.8);
}

.left h4 {
    margin: 5px;
    margin-left: 25px;
}



.here {
  font-size:15px;
}
.left h3 {
    margin-bottom: 5px;
    margin-left: 30px;
}
 span{
  font-style:italic;
}

.thin{
  font-weight:100;
  font-style: inherit;
  margin-left: -15px;
}
.guy{
  width:100%;
}

.right h4{
  margin:4px;
  font-size:15px;
}

.right li {
  font-size:15px;
    margin: 7px;
}

.thick{
  font-weight:bold;
}

.block {
    font-style: italic;
    width: 100%;
    display: block;
    margin-top: 5px;
}


.social{
  font-weight: 900;
  font-size:14px;
}

.container{

  margin:auto;
  width:90%;
}




.contact .item{
  margin: 0 ;
}

.contact p{
  margin:8px;
  font-size:15px;
  padding:5px;
}

@media(max-width:720px){
  body {
    background-repeat: no-repeat;
    background-position: 61% 25%;
  }
}
@media(max-width:1015px){.left{width:95%;}}




@media(max-width:1015px){.right{width:95%;}}


@media(max-width:1193px){
  body{background-size:inherit;}

  .contact{
    width:100%;
  }
  .back{
    left:0;
      width:100%;
    }
}
@media(max-width:720px){

  header{
      text-align:center;
    }

    .contact{
      width:100%;
    }

    nav li{
      display: block;
      font-size: 25px;
      padding: 10px;
    }

    .back{
      left:-4px;
      width:100%;

    }

    .border * , .border span, .border li, .border p{
      font-size:15px;
      margin: auto;
    }
    img {
    border-radius: 90px;
    float: none;
    position: relative;
    width: 50%;
    padding: 20px;
    right: -15%;
    margin: auto;
  }

  .volunteer a{
    width:100%;
  }

  .skill ul{
    width:100%;
    margin-top: 20px;
  }

  .skills li {
    margin-left: 40px;
  }

  .left h4{
    margin:0;
  }

  .summary p {
    margin-top:15px;
  }

  .contact p a, .contact p {
    font-size: 20px;
      padding: 10px;
  }

}
#blockblitz-image{
  border-radius: 0;
  padding: 0px 0px 5px 25px;
  width:100%;
}

.cleo-image {
    position: absolute;
    background: rgba(0,0,0,0.8);
    top: 0;
    width:80%;
}
.cleo-image img {
    width: 90%;
    padding: 20px;
}

.border div .cleo{
  margin-left:0px;
  cursor: pointer;
}
i{
  cursor: pointer;
}
.projects h2{ margin:5px; }
a:hover{
  color:#8a8a7c;
}

.education  p:nth-child(1) {
  margin-bottom:0 !important;

}
