body {
  background-color: black;
  margin:0px;
  font-family: 'Montserrat', sans-serif;
  padding: 0  0 30px 0;
  color:beige;
  
  
}

a{ text-decoration: none; }

header{
  color:beige;
  display:none;
  width:95%;
  margin:auto;

}
.icon{
  float: left;

}

.js30{
  width:100%;
}

.scrollToTop{
    width:130px; 
    height:30px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: beige ;
    text-decoration: none;
    position:fixed;
    bottom:35px;
    left:15px;
    z-index:9999;
    display:none;
    background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
    color:#bfcafd;
    text-decoration:none;
}
.back-to-home{
    cursor: pointer;
    padding: 10px;
    background-color: beige;
    color: black;
    position: fixed;
    bottom: 0;
    left: 80%;
    border-radius: 50% 0 0 0;
  }

.bone {
    width: 90%;
    padding: 11px;
    padding-right: 25px;
}
.special img{
    float: right;
    width: 48%;
    position: relative;
    right: -48px;
    top: -100px;
    transition:  2s;
}
@media(max-width:720px){
  .special{display:none !important;}
}

.who-p{
  display:inline-block;
  vertical-align: top;
  padding-top: 10px;
}
.special img:hover{
 transition:  2s;

  right:-20px;

}
.question, .call{display:none;}
.hey-kid{

  font-size:12px;
    position: absolute;
    top: -60px;
    right: 83px;
}
.special{
  display:none;
  position: absolute;
  right:0;
  }

nav ul{
  margin-bottom:0;
}

.contact {
  display:none;
    float: right;
    width: 30%;
    margin-top: 95px;
}


.skill ul {
    display: inline-block;
    width: 27%;
    vertical-align: top;
}

.skill ul span {
    margin-left:0;
}

.skill li{
  margin-left:45px;
}

.left{


  margin-left:10px;
  padding-left:20px;
  padding-right:20px;
  width:100%;
   /*display:inline-block;*/
  }
 @media (max-width:900px){.left{display:block;}}

.right{
  display:none;
  margin-right:10px;
  float: right;
  width:54%;
  padding:0 20px;
  /*display:inline-block;*/
}
@media (max-width:900px){.right{display:block;margin-right:0; padding:0;}}

.date{
    float: right;
    margin-right: 20px;
}
.title.under{
    font-weight: 900;
    font-style: italic;
    padding-right: 10px;
  }

.title{
  text-transform: uppercase;
}

.experience li {
    padding: 5px 0;
    font-size: 18px;
}

.upper{text-transform: uppercase;}





.treehouse{
    width: 100%;

    padding-right: 20px;
}

.shopify{

  width:100%;
  padding-right: 20px;
}

.cleo-image img {
    border-radius: 90px;
    float: left;
    width: 10%;
    padding: 20px;
}

.image {
    padding: 33px 30px 0;
    text-align: center;
}
.block a , .border a{
    display:inline-block;
    text-decoration: none;
    color: beige;
    word-wrap: break-word;
}

.border div{padding:1px;clear:both;display:inline-block;}

.under{
  border-bottom:1px solid #ddd;
}

header h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
}

.corner{
  cursor: pointer;
}
.contact i {
  width:10%;
  text-align: center;

}


i.fa.fa-external-link {
  display:none;
  padding-left: 5px;
  width: 20px;

}

footer {

    clear: both;
    margin-left: 40px;
}


a:hover i.fa.fa-external-link{
  display:inline-block;
}

h3 {
    color: #bfcafd;
    font-size: 30px;
    text-transform: uppercase;
}
.job-title{color: #bfcafd;}

.volunteer{
  display:none;
}

.progress-js30{
    width: 50%;
    text-align: left;
    margin: 4%;
    background: rgba(0,0,0,.8);
    padding: 20px;
    border-radius: 30px;
}


.border{

  border-radius:10px;
  padding:10px;
  margin-top:10px;
  text-align: left;

}

.border span{

  font-size:20px;
}
.icons{
  display:inline-block;
}


#blockblitz{
  cursor: pointer;
}

.back p {
    font-size: 1rem;
    line-height: 28px;
}

.volunteer  div p:last-child {

    border-bottom: 1px dotted beige;

    padding-bottom: 20px;
}

.next{
  float:right;
  cursor: pointer;
}

.summary, .education-content, .volunteer, .experience , .skills , .projects{
  display:none;
  position: absolute;
}

.border *, .border span, .border li, .border p{text-align:left;}

.experience  a{
  margin-left:25px;
}

.experience .one {
  border-bottom:1px solid beige;
  border-radius: 0;
  padding-bottom:30px;

}

.back {
    border-radius: 20px;
    width: 59%;
    background: rgba(0,0,0,.8);
    margin-bottom: 50px;
}

nav{
  display:none;

}

nav li {
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
    padding:10px 30px;
    cursor: pointer;
    list-style: none;
}

nav li:hover{color:#bfcafd ;}

.dark{
  background:rgba(0,0,0,.8);
}

.left h4 {
    margin: 5px;
    margin-left: 25px;
}



.here {
  font-size:15px;
}
.left h3 {
    margin-bottom: 5px;
    
}



.thin{
  font-weight:100;
  font-style: inherit;
  margin-left: -15px;
}
.guy{
  width:100%;
  text-align: left;
}

.right h4{
  margin:4px;
  font-size:15px;
}

.right li {
  font-size:15px;
    margin: 7px;
}

.thick{
  font-weight:bold;
}

.block {
    font-style: italic;
    width: 100%;
    display: block;
    margin-top: 5px;
}


.social{
  font-weight: 900;
  font-size:14px;
}

.container{
  text-align: right;
  margin:auto;
  width:90%;
}




.contact .item{
  margin: 0 ;
  width:30%;
  text-align: left;
}

.contact p{
  margin:8px;
  font-size:15px;
  padding:5px;
}


@media(max-width:1015px){.left{width:95%;}}




@media(max-width:1015px){.right{width:95%;}}



#blockblitz-image{
  border-radius: 0;
  padding: 0 0 5px 0;
  width:100%;
}

.cleo-image {
    position: absolute;
    background: rgba(0,0,0,0.8);
    left: 50%;
    top: 82%;
    width: 40%;
}


.cleo-image img {
    width: 90%;
    padding: 20px;
}

.border div .cleo{
  margin-left:0px;
  cursor: pointer;
}
i{
  cursor: pointer;
}
.projects h2 {
    margin: 5px;
    display: inline-block;
}
a:hover{
  color:#8a8a7c;
}

.education  p:nth-child(1) {
  margin-bottom:0 !important;

}

 .cleo-image{opacity:0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;}

  #snore{width:100%;}


#snore:hover  .cleo-image{
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  opacity: 1;
}
/* this stuff */
.card-container {
    cursor: pointer;
    height: 106px;
    perspective: 600px;
    position: relative;
    display: inline-block !important;
    width: 100px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

@media(min-width:720px){
.card .back {
    font-size: 1rem;
    background: black;
    color: #0087cc;
    line-height: 80px;
    text-align: center;
    transform: rotateY(180deg);
    width: 100%;
    overflow: hidden;
  }
}

.after-image {
    width: calc(100% - 125px);
    float: right;
}

.single{display:block !important;}



.css{
    width: 70%;
    padding-left: 20px;
}


.reid_lsd {
    border-radius: 50%;
    padding: 20px;
    width: 27% ;
    margin-top: 15px;
}



.overlay{
  position: absolute;
  z-index: 10;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,.6);
  text-align: center;

}

.made-it {
    padding: 20px;
    color: #000;
    background-color: beige;
    display: inline-block;
    position: relative;
    top: 40%;
    width: 50%;
    font-size: 2rem;
    letter-spacing: 1rem;
}

.background-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: 0;
    background-image: url(reidanother-min.jpg);
    background-size: cover;
    background-position: 50% 10%;
    background-repeat:no-repeat;
    background-color:black;
    overflow-x: hidden;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .back-to-menu{
display:none !important;
visibility: hidden;
}

span.who-row {
    
    line-height: 34px;
    font-size: 1rem;
}

.who-title{
   color: #bfcafd;
}

.summary .item {
    margin: 30px;
    font-size: 1.3rem;
    color: #bfcafd;
    text-decoration: underline;
}

/* Mobile Styles */

@media(max-width:720px){
  body {
    background-repeat: no-repeat;
    background-position: 61% 25%;
  }

  header{
      text-align:center;
    }

   .active{min-height: 900px;}

    .contact{
      width:100%;
      position: relative;
    }

    nav li{
      display: block;
      font-size: 1rem;
      padding: 10px;
    }

    .back{
      left:-4px;
      width:100%;
      background: rgba(0,0,0,1);
      top:4%;

    }

    .border * , .border span, .border li, .border p{
      font-size:15px;
      margin: auto;
    }
    img {
    border-radius: 90px;
    float: none;
    position: relative;
    width: 50%;
    padding: 20px;
    right: -15%;
    margin: auto;
    }

    .volunteer a{
      width:100%;
    }

    .skill ul{
      width:100%;
      margin-top: 20px;
    }

    .skills li {
      margin-left: 40px;
    }

    .left h4{
      margin:0;
    }

    .summary p {
      margin-top:15px;
    }

    .contact p a, .contact p {
      font-size: 20px;
        padding: 10px;
    }

  .summary .item {  
      font-size: 1rem;    
  }
    
    .active .back-to-menu{
      display:block;
    }
    .back-to-menu{
      cursor: pointer;

      padding:10px;
      background-color:beige;
      color:black;
      position:fixed;
      bottom:0;
      left: 80%;
      border-radius: 50% 0 0 0;

    }

    .contact .back-to-menu {
      position: absolute;
      right: -20px;
      bottom: -31px;
    }

    .left h3 {   
      text-align: left;
      }

   .who-p{
    padding-left:20px;
   }

   .reid_lsd {
      border-radius: 50%;
      padding: 20px;
      width: 49% !important;
      margin-top: 15px;
      transform: translateX(20px);
  }

  .side img {
      border-radius: 0;
      width: 16%;
      transform: translatex(73%);
  }

  .card-container{
    width:100%;
  }

  .summary p {
      width: 87%;
      margin: auto;
  }

  .text{
    display:none !important;
  }


  .after-image{
    text-align: center !important;
    transform:translateX(-20px);
  }

  .back-to-menu{
    display: block !important;
    visibility: visible;
  }

  .contact .back-to-menu{
    overflow-x: hidden;
    -webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 15s; /* Firefox < 16 */
    -ms-animation: fadein 15s; /* Internet Explorer */
    -o-animation: fadein 15s; /* Opera < 12.1 */
    animation: fadein 15s;

  }

  .bone {
      
      padding-right: 25px;
      padding-left: 17px;
  }

  .contact p a, .contact p {
    font-size: 1rem;
  }

  .education-content img{
    position: relative;
    padding-left: 0 !important;
    right: 0 !important;
  }

  .education-content .guy{
      padding:20px;
  }

  .single{
    border-bottom: 1px solid beige;
    margin-bottom:20px;
    padding-bottom:20px;
  }

  .projects .border a, .projects h2{
    display:block;
  }

  .progress-js30 {
    width: 81%;
  }


}




